:root {
  --text-grey: #112;
  --light-text-grey: #99a;
  --button-hover: rgba(0,0,0,0.2);
  --button-active: rgba(0,0,0,0.5);
}

html {
  box-sizing: border-box;
  font-family: "Indie Flower", cursive;
  font-size: 18px;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  background: transparent;
}

button:hover {
  cursor: pointer;
  background: var(--button-hover);
}

button:active {
  background: var(--button-active);
}

.wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.title {
  text-align: center;
}

.title > h1 {
  padding: 20px 0 0 0;
  font-size: 3.5rem;
  margin: 0;
}

.title > p {
  font-size: 1.1rem;
  text-decoration: underline;
  margin: 0;
}

main {
  width: 100vw;
  max-width: 2000px;
  padding: 0 80px;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 70%;
  min-width: 20rem;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

#input-note {
  resize: none;
  padding: 10px;
  font-family: inherit;
  font-size: inherit;
  color: var(--text-grey);
  font-weight: bolder;
  border: none;
}

#submit-btn {
  align-self: flex-end;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  padding: 10px 15px;
}

.notes {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
} 

.note {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 1fr 0.25fr;
  height: 13rem;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.note > button {
  grid-row: 3 / -1;
  border: none;
  font-size: 0.9rem;
}

.note > button:first-of-type {
  border-radius: 0 0 0 10px;
}

.note > button:last-of-type {
  border-radius: 0 0 10px 0;
}

.note-text {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  padding: 0 1.15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bolder;
}

.note > time {
  grid-column: 2 / -1;
  justify-self: end;
  font-size: 0.75rem;
  color: var(--light-text-grey);
  font-family: sans-serif;
  padding: 5px 10px;
}

footer {
  align-self: stretch;
  text-align: center;
  font-size: 1.1rem;
  padding: 10px 0;
}

@media (max-width: 360px) {
  .input {
    min-width: 18rem;
  }

  .notes {
    grid-template-columns: 18rem;
  }
}
